<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JdbcHrPayrollSystem/src/com/leclex/Spring/ch3/JDBC/main/HrPayrollSystem.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.leclex.Spring.ch3.JDBC.main.HrPayrollSystem"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JdbcHrPayrollSystem"/>
</launchConfiguration>
